.wrapperClassName {
    background-color: "white";
}
.editorClassName {
    background-color: "white";
}
.toolbarClassName {
    background-color: "white";
}
.wrapperStyle {
    background-color: "white";
}
.editorStyle {
    background-color: "white";
}
.toolbarStyle {
    background-color: "white";
}